<p id="notice"><%= notice %></p>
 
<p>
  <b>Name:</b>
  <%= @video.name %>
</p>
 
<p>
  <b>Title:</b>
  <%= @video.title %>
</p>
 
<p>
  <b>Content:</b>
  <%= @video.content %>
</p>
 
<h2>Add a comment:</h2>
<%= form_for([@video, @video.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
<%= link_to 'Edit Post', edit_video_path(@video) %> |
<%= link_to 'Back to Posts', video_path %> |