




<section class="hero">
  <div class="title">
    <h1 class='header'>Proving Grounds</h1>
    <p  class='powered'>Powered by Wooter<!-- <img src="Wooter Logo White" alt=""> --></p>    
  </div>

  <h3 class='subheader'>One. Word. Sentence. YEAH!</h3>
  <div class="s-input">
      <input type="text" class='p-input' placeholder='Choose A Sport'>
      <button class="b-input">
>
<!--         <img src="" alt=""> -->
      </button>
      <div class="clear"></div>
  </div>

</section>



<p id="notice"><%= notice %></p>

<h1>Listing Videos</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Link</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.author %></td>
        <td><%= video.link %></td>
        <td><%= video.duration %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
