<!-- <section class="hero">
  <div class="title">
    <h1 class='header'>Proving Grounds</h1>
    <p  class='powered'>Powered by 
      <a href='http://wooter.co' target='_blank'>
        <img alt="Wooter Logo White" src="/assets/wooter.png" style='height: 20px;'>
      </a>
    </p>  
    <div class="clear"></div>  
  </div>

  <h3 class='subheader'>Watch Free Sports Guides and Tutorials.</h3>
  <div class="s-input">
    <%= form_tag videos_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :class => 'p-input' %>
      <%= submit_tag ">", :class => 'b-input' %>
    </p>
    <% end %>
  </div>
</section> -->

<!--   <form action="">
      <input type="text" class='p-input' placeholder='Choose A Sport'>
      <button class="b-input">></button>
      <div class="clear"></div> 
  </form> -->
<!-- </section> -->

<!-- <p id="notice"><%= notice %></p> -->


<style type='text/css'>
  .new_body{
    width: 100%; 
  }

  /*left menu*/

  .filter_menu{
      background-image: url("assets/shares.png");
      background-size: cover;
      height: 100vh;
      padding: 0px;
  }

  .filter_menu, .filter_results{
    display: table-cell;
  }

  .chosen_sport{
    text-align: left;
    padding-left: 15px;
    color: rgba(0,0,0,.3);
    font-size: 1.5vw;
  }

  .smaller_type{
    font-size: 50%;
    color: rgba(0,0,0,.3);
  }

  .techniques{
    padding: 0px;
    width: 100%;
  }

  .types{
    width: 100%;
    text-align: center;
    color: rgba(0,0,0,.87);
    background-color: transparent;
    font-size: 1.25vw;
    padding: 2vh 0px;
  }

  .types:hover{
    background-color: #f96d0c;
    color: white;
  }

   .types > a:hover{
    background-color: #f96d0c;
    color: white;
    text-decoration: none;
  }

  /*videos*/

  .filter_results{
    height: 93%;
  }

  .filter_results > .rows{
      width: 80%;
      margin: 3vh auto;   
  }


  
  .video_structure{
    width: 100%;
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.4);
    height: 34vh;
    min-height: 34vh;
      margin: 2vh 0;
  }

  .thumbnail{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 150px;
    padding: 0px;
    margin: 0px;
      height: 24vh;
  }

  .information{
    min-height: 50px;
    width: 100%;
    position: relative;
      height: 10vh;
      padding: 1vh 0px;
  }

  .information > .rows > .col-sm-6{
    width: 50%;
    float: left;
    font-size: 1vw
  }

  .info_header{
    color: rgba(0,0,0,.8);
    padding-left: 10px;
    }

  .info_subheader{
    color: rgba(0,0,0,.3);
    padding-left: 10px;
      text-align: right;
  }

  .col-md-4{
    height: 60vh;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
    padding: 0px;
    margin: 15px;
    width: 30%;  
  }

.img-rounded {
    border-radius: 0px!important;
}

</style>


<script type="text/javascript">
  
  $(document).ready(function() {

  setHeight($('.filter_menu'), $('.filter_results'));

  // When the window is resized the height might
  // change depending on content. So to be safe
  // we rerun the function
  $(window).on(resize, function() {
      setHeight($('#.filter_menu'), $('.filter_results'));        
  });

});

// sets height of element 1 to equal the height of element 2
function setHeight(elem1, elem2) {
  var height = elem2.height()
  elem1.css('height', height); 
}

</script>

<section class="new_body">
  <div class="rows">
    <div class="col-sm-2 filter_menu">
      <h2 class='chosen_sport'>Proving Grounds</h2>
    <ul class="techniques">
      <li class="types">
          <a href="/videos?utf8=✓&search=Basketball&commit=>>">Basketball</a>
      </li>
      <li class="types">
          <a href="/videos?utf8=✓&search=Soccer&commit=>>">Soccer</a>
      </li>
      <li class="types">
          <a href="/videos?utf8=✓&search=Baseball&commit=>>">Baseball</a>
      </li>
      <li class="types">
          <a href="/videos?utf8=✓&search=Football&commit=>>">Football</a>
      </li>

    <ul>
  </div>

    <div class="col-sm-10 filter_results">


<!-- Videos -->
  <div id='page-content-wrapper'>
  <div class='container-fluid'
  <% if @videos.any? %>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" style='min-height: 320px;'>
              <div id='player-wrapper' style='height: 420px;'></div>
            </div>
          </div>
        </div>
      </div>

    <% @videos.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.each do |video| %>
            <% if video %>
              <div class="col-md-4">
                  <div class="yt_video thumbnail" data-toggle='modal' data-target='#myModal' data-show='false'>
                    <%= image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title, class: 'yt_preview img-rounded', :"data-uid" => video.uid %>
                    <div class="caption">
                      <h5><%= video.title %></h5>
                      <p>Author: <b><%= video.author %></b></p>
                      <p>Duration: <b><%= video.duration %></b></p>
                      <p>Sport: <b><%= video.sport %></b></p>
                      <p><%= link_to 'Edit', edit_video_path(video) %></p>
                      <p><%= link_to('Delete', video, method: :delete, data: {confirm: 'Are you sure?'})%></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<!-- <h1>Listing Videos</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Link</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.author %></td>
        <td><%= video.link %></td>
        <td><%= video.duration %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

    </div>
  </div>
  <div class="clear"></div>
</section>



<style type='text/css'>

  button:focus,
  input:focus {
    outline:0!important;
  }

  .modal-content{
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0)!important;
    background: transparent!important;
    border:none!important;
  }

  .modal-open .modal{
    background-color: rgba(0,0,0,.6);
  }

  .modal-header{
    border-bottom: none!important;
  }

  .modal-body{
    padding: 0px!important;
  }

  .modal-header .close {
    color: white;
  }

  footer{
    position: relative;
    bottom: 0;
    width: 100%;
      height: 4vw;
      min-height: 4vh;
    background-color: #303030;
  }
  .wooter_mention {
      width: 50%;
      margin: 0 auto;
      height: 100%;
  }
  .wooter_mention > p{
    color: white;
    text-transform: uppercase;
    font-size: 1vw;
    text-align: center;
  }

  .wooter_mention > p > a:hover{
      text-decoration: none!important;
      background: transparent!important;
  }

  .wooter_mention > p > a > img{
      padding: 2vh 0 0 0;
      height: 5vh;
  }


</style>

<footer>
  <div class="wooter_mention">
    <p>
      <a href="http://wooter.co">
        <img src="assets/powered.png" alt="Wooter Logo">
      </a>
    </p>
    <div class="clear"></div>
  </div>
</footer>


























