
<div class="navigation">
  <div class="mobile_header_slide">
    <p>O</p>
  </div>

<script>
  $('.mobile_header_slide').click(function(){ 
    if(!($('.filter_menu').hasClass('animations'))){
      $('.filter_menu').addClass('animations'); 
      $('.filter_menu').removeClass('animations_remove'); 
    }
    else{
      $('.filter_menu').removeClass('animations'); 
      $('.filter_menu').addClass('animations_remove'); 
    }    
  }); 

</script>

  <h1>Proving Grounds</h1>

  <div class='s-input'>
    <%= form_tag videos_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :class => 'p-input', :placeholder => 'Choose A Sport' %>
      <%= submit_tag ">", :class => 'b-input' %>
    </p>
    <% end %>
  </div>
 <div class="mobile_header_login">
   <% if user_signed_in? %>

  <!--     <div class="request">
        <% if current_user.admin == true %>
        <%= link_to 'Add Video', new_video_path, class: 'request_details' %>
        <% end %>
        <%= current_user.name %>
      </div>
   -->
      <div class="request request_desk">
        <% if current_user.admin == false %>
        <%= link_to 'Add Video', new_video_path, class: 'request_details' %>
        <% end %>
      </div>

      <div class="logout">
          <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
      </div>
      
      <div class="request request_mobile">
        <% if current_user.admin == true %>
        <%= link_to 'Add Video', new_video_path, class: 'request_details' %>
        <% end %>
        <%= current_user.name %>
      </div>

    <% else %>
      <div class="login">
        <p><%= link_to('Sign In With Google', user_omniauth_authorize_path(:google_oauth2)) %></p>
      </div>
    <% end %> 
    <div class="clear"></div>
  </div>
</div>



<section class="new_body">
  <div class="rows">
    <div class="col-sm-2 filter_menu md-whiteframe-2dp">
      <ul>
          <li class='searching'>  
            <div class='s-input'>
              <%= form_tag videos_path, :method => 'get' do %>
              <p>
                <%= text_field_tag :search, params[:search], :class => 'p-input', :placeholder => 'Choose A Sport' %>
                <%= submit_tag ">", :class => 'b-input' %>
              </p>
              <% end %>
            </div>  
          </li>      
          <a href="/videos?utf8=✓&search=Basketball&commit=>>"><li>Basketball</li></a>
      
          <a href="/videos?utf8=✓&search=Soccer&commit=>>"><li>Soccer</li></a>
       
          <a href="/videos?utf8=✓&search=Baseball&commit=>>"><li>Baseball</li></a>
   
          <a href="/videos?utf8=✓&search=Football&commit=>>"><li>Football</li></a>
       
        <ul>
        </div>
        <div class="col-sm-10 filter_results">
          <!-- Videos -->
          <div id='page-content-wrapper'>
            <div class='container-fluid'>
              
              <% if @videos.any? %>

              <% @videos.in_groups_of(1) do |group| %>
              
                
                <% group.each do |video| %>
                
                <% if video %>
                
                <div class="col-md-4">
                
                  <div class="yt_video" data-toggle='modal' data-target='#myModal' data-show='false'>
                
                    <%= image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title, class: 'yt_preview', :"data-uid" => video.uid %>
                
                    <div class="caption">
                      <ul>
                        <li class='category1<%=video.id%>'>Skill</li>
                        <li class='category2<%=video.id%>'>Time</li>
                        <li class='category3<%=video.id%>'>Rating</li>
                        <li class='category5<%=video.id%>'>Author</li>
                        <li class='category4<%=video.id%>'>Title</li>
                      </ul>
                      <div class="clear"></div>

                      <p class='appear appear1<%=video.id%> '><b><%= video.sport %></b> - <%= video.skill %></p>
                      <p class='appear appear2<%=video.id%> hide'><b><%= video.duration %></b></p>
                      <p class='appear appear3<%=video.id%> hide'><b>Rating / 5</b></p>
                      <p class='appear appear4<%=video.id%> hide'><b><%= video.author %></b></p>
                      <p class='appear appear5<%=video.id%> hide'><b><%= video.title %></b></p>

                      <script>
                        
                     
                          $('.category2<%=video.id%>').hover(
                                 function(){ $('.appear1<%=video.id%>').addClass('hide'); $('.appear2<%=video.id%>').removeClass('hide'); },
                                 function(){ $('.appear2<%=video.id%>').addClass('hide'); $('.appear1<%=video.id%>').removeClass('hide'); }
                          )
                          $('.category3<%=video.id%>').hover(
                                 function(){ $('.appear1<%=video.id%>').addClass('hide'); $('.appear3<%=video.id%>').removeClass('hide'); },
                                 function(){ $('.appear3<%=video.id%>').addClass('hide'); $('.appear1<%=video.id%>').removeClass('hide'); }
                          )
                          $('.category4<%=video.id%>').hover(
                                 function(){ $('.appear1<%=video.id%>').addClass('hide'); $('.appear4<%=video.id%>').removeClass('hide'); },
                                 function(){ $('.appear4<%=video.id%>').addClass('hide'); $('.appear1<%=video.id%>').removeClass('hide'); }
                          )
                          $('.category5<%=video.id%>').hover(
                                 function(){ $('.appear1<%=video.id%>').addClass('hide'); $('.appear5<%=video.id%>').removeClass('hide'); },
                                 function(){ $('.appear5<%=video.id%>').addClass('hide'); $('.appear1<%=video.id%>').removeClass('hide'); }
                          )



                      </script>


                      <p><%= link_to 'Edit', edit_video_path(video) %></p>
                      <p><%= link_to('Delete', video, method: :delete, data: {confirm: 'Are you sure?'})%></p>
                    </div>                   

                
                  </div>
                
                </div>
                <% end %>
                <% end %>
              <% end %>
            </div>
            <% end %>
          </div>



        </div>
        <!-- <h1>Listing Videos</h1>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Link</th>
              <th>Duration</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @videos.each do |video| %>
            <tr>
              <td><%= video.title %></td>
              <td><%= video.author %></td>
              <td><%= video.link %></td>
              <td><%= video.duration %></td>
              <td><%= link_to 'Show', video %></td>
              <td><%= link_to 'Edit', edit_video_path(video) %></td>
              <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table> -->
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <footer>
      <p>
        <a href="http://wooter.co">
          <img src="assets/powered.png" alt="Wooter Logo">
        </a>
      </p>
      <div class="clear"></div>
  </footer>

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body" style='min-height: 320px;'>
                      <div id='player-wrapper' style='height: 420px;'></div>
                    </div>
                  </div>
                </div>
              </div>

<script type="text/javascript">

$(document).ready(function() {

setInterval(function(){ 

setHeight50($('.filter_results'), $('#page-content-wrapper'));
setHeight($('.filter_menu'), $('.filter_results'));




 }, 10);


});
// sets height of element 1 to equal the height of element 2
function setHeight(elem1, elem2) {
var height = elem2.height()
elem1.css('height', height);
}

function setHeight50(elem1, elem2) {
var height = 50 + elem2.height()
elem1.css('height', height);
}
</script>
